# Chapter 10

# Machine Learning Algorithm Performance Metrics

# 10.2 Classification Metrics

**1.Classification Accuracy.**

**2.Logarithmic Loss**

**3. Area Under ROC Curve.**

**4. Confusion Matrix.**

**5.Classification Report**

#  10.2.1 Classification Accuracy

In [4]:
# Cross Validation Classification Accuracy
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")
filename = 'pima-indians-diabetes.csv'
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = read_csv(filename, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10)
model = LogisticRegression()
scoring = 'accuracy'
results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print(results.mean())

0.7708304853041694

# 10.2.2 Logarithmic Loss

In [5]:
 # Cross Validation Classification LogLoss
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import LogisticRegression
 import warnings
 warnings.filterwarnings("ignore")
 filename = 'pima-indians-diabetes.csv'
 names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
 dataframe = read_csv(filename, names=names)
 array = dataframe.values
 X = array[:,0:8]
 Y = array[:,8]
 kfold = KFold(n_splits=10)
 model = LogisticRegression()
 scoring = 'neg_log_loss'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.4852881523437905

# 10.2.3 Area Under ROC Curve

In [6]:
 # Cross Validation Classification ROC AUC
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import LogisticRegression
 import warnings
 warnings.filterwarnings("ignore")
 filename = 'pima-indians-diabetes.csv'
 names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
 dataframe = read_csv(filename, names=names)
 array = dataframe.values
 X = array[:,0:8]
 Y = array[:,8]
 kfold = KFold(n_splits=10)
 model = LogisticRegression()
 scoring = 'roc_auc'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results)
 print(results.mean())

[0.75416667 0.8553719  0.83036936 0.7893617  0.81037037 0.83262411
 0.8015873  0.92153846 0.85576923 0.82391304]
0.8275072147884718

# 10.2.4 Confusion Matrix

In [8]:
 from pandas import read_csv
 from sklearn.model_selection import train_test_split
 from sklearn.linear_model import LogisticRegression
 from sklearn.metrics import confusion_matrix
 import warnings
 warnings.filterwarnings("ignore")
 filename = 'pima-indians-diabetes.csv'
 names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
 dataframe = read_csv(filename, names=names)
 array = dataframe.values
 X = array[:,0:8]
 Y = array[:,8]
 test_size = 0.33
 X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size)
 model = LogisticRegression()
 model.fit(X_train, Y_train)
 predicted = model.predict(X_test)
 matrix = confusion_matrix(Y_test, predicted)
 print(matrix)

[[151  23]
 [ 32  48]]

# 10.2.5 Classification Report

In [13]:
 # Cross Validation Classification Report
 from pandas import read_csv
 from sklearn.model_selection import train_test_split
 from sklearn.linear_model import LogisticRegression #classification technique
 from sklearn.metrics import classification_report
 import warnings
 warnings.filterwarnings("ignore")
 filename = 'pima-indians-diabetes.csv'
 names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
 dataframe = read_csv(filename, names=names)
 array = dataframe.values
 X = array[:,0:8]
 Y = array[:,8]
 test_size = 0.33
 test_size = 0.33
 seed = 7
 X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size,random_state=seed)
 model = LogisticRegression()
 model.fit(X_train, Y_train)
 predicted = model.predict(X_test)
 report = classification_report(Y_test, predicted)
 print(report)

              precision    recall  f1-score   support

         0.0       0.81      0.88      0.84       162
         1.0       0.74      0.63      0.68        92

    accuracy                           0.79       254
   macro avg       0.78      0.75      0.76       254
weighted avg       0.78      0.79      0.78       254

# 10.3 Regression Metrics

**1.Mean Absolute Error.**

**2.Mean Squared Error**

**3.R2**

# 10.3.1 Mean Absolute Error

In [26]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

# Load your data
dataframe = pd.read_csv('housing.csv')

# Convert categorical features to numeric
dataframe = pd.get_dummies(dataframe)

# Prepare data for modeling
array = dataframe.values
X = array[:, :-1]  # Adjust the indices if necessary
Y = array[:, -1]   # Assuming the target variable is the last column

# K-Fold Cross-Validation
kfold = KFold(n_splits=10)
model = LinearRegression()
scoring = 'neg_mean_absolute_error'
results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

# Output the mean MAE
print(results)
print(abs(results.mean()))  # Use abs to convert from negative MAE

[-1.41535268e-13 -4.89911142e-15 -3.40131963e-15 -9.34605928e-16
 -6.70170989e-16 -1.71262181e-15 -8.59394860e-16 -1.09994318e-15
 -5.53055544e-16 -1.91205076e-15]
1.5757754248472402e-14

In [25]:
dataframe

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,False,True,True,False,...,False,True,False,False,True,False,True,True,False,False
1,12250000,8960,4,4,4,3,False,True,True,False,...,False,True,False,False,True,True,False,True,False,False
2,12250000,9960,3,2,2,2,False,True,True,False,...,True,True,False,True,False,False,True,False,True,False
3,12215000,7500,4,2,2,3,False,True,True,False,...,True,True,False,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,False,True,False,True,...,True,True,False,False,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,False,True,True,False,...,True,True,False,True,False,True,False,False,False,True
541,1767150,2400,3,1,1,0,True,False,True,False,...,False,True,False,True,False,True,False,False,True,False
542,1750000,3620,2,1,1,0,False,True,True,False,...,False,True,False,True,False,True,False,False,False,True
543,1750000,2910,3,1,1,0,True,False,True,False,...,False,True,False,True,False,True,False,True,False,False
544,1750000,3850,3,1,2,0,False,True,True,False,...,False,True,False,True,False,True,False,False,False,True

# 10.3.2 Mean Squared Error

In [27]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

# Load your data
dataframe = pd.read_csv('housing.csv')

# Convert categorical features to numeric
dataframe = pd.get_dummies(dataframe)

# Prepare data for modeling
array = dataframe.values
X = array[:, :-1]  # Adjust the indices if necessary
Y = array[:, -1]   # Assuming the target variable is the last column

# K-Fold Cross-Validation
kfold = KFold(n_splits=10)
model = LinearRegression()
scoring = 'neg_mean_squared_error'
results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

# Output the mean MAE
print(results)
print(abs(results.mean()))  # Use abs to convert from negative MAE

[-2.19175079e-26 -2.59479211e-29 -1.28470032e-29 -1.14496885e-30
 -5.68338425e-31 -3.81351248e-30 -9.55032994e-31 -1.75416553e-30
 -4.65418804e-31 -3.85391421e-30]
2.196885817601682e-27

# 10.3.3 R2 Metric

In [28]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

# Load your data
dataframe = pd.read_csv('housing.csv')

# Convert categorical features to numeric
dataframe = pd.get_dummies(dataframe)

# Prepare data for modeling
array = dataframe.values
X = array[:, :-1]  # Adjust the indices if necessary
Y = array[:, -1]   # Assuming the target variable is the last column

# K-Fold Cross-Validation
kfold = KFold(n_splits=10)
model = LinearRegression()
scoring = 'r2'
results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

# Output the mean MAE
print(results)
print(abs(results.mean()))  # Use abs to convert from negative MAE

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
1.0

**The R2 (or R Squared) metric provides an indication of the goodness of t of a set of predictions
 to the actual values. In statistical literature this measure is called the coeffcient of determination.
 This is a value between 0 and 1 for no- fit and perfectly  fit respectively.**